#cv{
  /* width: 60%; */
  margin:auto;
}
div.socialcard{
    float: left;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 260px;
    /* width: 30%; */
    width: 60%;
    margin: 10% 0% 5% 15%;
    text-align: center;
    animation-name: example;
    animation-delay: 1s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
@keyframes example {
  0%    {background-color:aqua;}
  14%   {background-color:rgb(114, 158, 158)} 
  28%   {background-color:aquamarine} 
  42%   {background-color:rgb(127, 209, 127)} 
  56%   {background-color:rgba(255, 166, 0, 0.76)} 
  70%   {background-color:rgb(175, 93, 93)} 
  84%   {background-color:rgb(212, 78, 105)} 
  100%  {background-color:rgb(128, 124, 124)} 
}
div.socialcard h1{
    margin-left: 5%;
}

div.socialcard h2{

    margin-left: 5%;
}

.fa {
    /* padding: 20px; */
    padding:20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* border-radius: 50%; */
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

