body{
    margin:0 auto 0 auto;
    background-image: url('BackGround/repeated-square.png');
    background-repeat: repeat;
    }

    /*
    #container {
        
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
    }
    */
    
    #content{
        width: 70%;
        float: left;
        margin-left: 15%;
        margin-top: 50px;
        padding: 0px;
        height: auto;
        min-height: 3000px;
        box-shadow: 10px 10px 8px #888888;
        background: rgb(118, 106, 187);
    }
    
    #menu 
        {
        background-color: #47e432;
        width: 20%;
        height: 300px;
        list-style-type: none;
        padding: 0px;
        margin-top: 5px;
        
    }
    #menu li {
        text-align: center;
        vertical-align: bottom;
        margin-bottom: 5px;
        width: 100%;
        height: 50px;
        background-color: bisque;
    }
